<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199863734141-n5hejqrj02mvv5hbgss5o90sn5psojq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199863734141-n5hejqrj02mvv5hbgss5o90sn5psojq5</string>
	<key>API_KEY</key>
	<string>AIzaSyA5DJ0Sw9Vq3W1np_QFJpfpoJHuJJs4dDk</string>
	<key>GCM_SENDER_ID</key>
	<string>199863734141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-app-8c1e9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-app-8c1e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199863734141:ios:7e415f97bd04f306730614</string>
</dict>
</plist>